.b-text-image {
  .__txt {
    p {
      margin-bottom: 16px !important;
    }
  }

  .__content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .__content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
}
